.border{
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid black;
    border-radius: 50%;
    margin: 50% auto;
    animation: spinner 1s linear infinite;
}
@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}