.animationbox{
    width: 200px;
    height: 200px;
    background-color: #dca900;
    position: absolute;
    top: 0%;
    left: 50%;
    translate:-50% -50%;
    animation: 1s bounce linear infinite;
    border-radius: 50%;
}

@keyframes bounce {
    0%{
        top: 0%;
    }
    50%{
        transform: scaleY(0.7);
        transform: scaleX(1.2);
        top:50%;
    }
}
    
    
 /* { transition-property: border-radius;
transition-duration: 1.2s;
transition-timing-function: ease;
transition: transform 1.2s ease;
animation-name: hovereffect;
animation-duration: 1.2s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation: 3s hovereffect ease-in-out infinite;
}
*/
.boxc{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.078);;
    position: absolute;
    top: 70%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
 transform: scaleX(2);
  transform: scaleY(0.3);
  animation:shadowlight 1s  linear infinite;

}
.box:hover{
    border-radius: 50%;
    transform: scale(1.2);
}

@keyframes shadowlight {
    0%{
        background-color: white;
        transform: scaleX(1.2);
         transform: scaleY(0.3);
    }
    50%{
        background-color: rgba(0, 0, 0, 0.078);
        transform: scaleX(3);
         transform: scaleY(0.3);
    }
     100%{
        background-color: white;
        transform: scaleX(1.2);
         transform: scaleY(0.3);
    }
}
